@model SistemaDeMonitoramento.Models.Residencias

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja excluir esta residência??</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbienteId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ResidenciaId" />
        <input type="submit" value="Excluir" class="btn btn-danger btn-sm"  /> |
        <a asp-action="Index" class="btn btn-warning btn-lg active btn-sm" role="button" aria-pressed="true">Cancelar</a>
    </form>
</div>
