@model SistemaDeMonitoramento.Models.Residencias

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Residencias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ambiente.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ambiente.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResidenciaId" class="btn btn-success btn-lg active btn-sm" role="button" aria-pressed="true">Alterar</a> |
    <a asp-action="Index" class="btn btn-warning btn-lg active btn-sm" role="button" aria-pressed="true">Cancelar</a>
</div>
